@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Custom properties/variables  */
:root {
  --main-white: #fff;
  --main-green: #014f46;
  --main-blue: #185f57;
  --main-black: #191611;
}

html {
  box-sizing: border-box;
  /* default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

* {
  color: var(--main-white);
}

body {
  background-color: var(--main-green);
  font-family: "Lato", sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  grid-row-gap: 1em;
  min-height: 100vh;
  justify-items: center;
}

nav {
  background-color: var(--main-black);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  position: fixed;
  height: 10rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-size: 2rem;
  grid-column: 1 / -1;
}

nav a {
  color: #fff;
  margin-left: 1.25em;
  text-decoration: none;
}

nav a.active {
  font-weight: 900;
}

nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

footer {
  background-color: var(--main-black);
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  grid-column: 1/-1;
  width: 90vw;
}

figure {
  margin: 1em;
  text-align: center;
}

figure figcaption {
  opacity: 0;
  transition: all 0.3s ease-out;
}

img {
  width: 100%;
  border: 1px solid white;
  padding: 0.5em;
  margin: 0.1em;
  transition: all 0.3s ease-out;
}

figure:hover img {
  transform: translateY(-0.4rem);
}

figure:hover figcaption {
  opacity: 100;
}

p {
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 2rem;
  line-height: 1.5;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  margin-top: 11rem;
}

.social-ul {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.socialDetail {
  color: var(--main-white);
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.social-ul a:hover {
  transform: translateY(8px);
}

strong {
  font-weight: bolder;
}

h1#home-header {
  background-image: url("https://images.unsplash.com/photo-1488415032361-b7e238421f1b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 80%;
  color: #fff;
  font-size: 5rem;
  padding: 2rem;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shaking {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
  .shaking {
    animation: none;
  }
}



.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* contact form */
form{
  padding: 1rem;
  margin: auto;
  font-size: 2rem;
  width: 70%;
}

input, textarea{
  font-family: "Lato", sans-serif;
  color: var(--main-black);
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  box-sizing: border-box;
  margin: 1rem 0;
  resize: vertical;
}

input[type=submit] {
  font-family: "Lato", sans-serif;
  background-color: transparent;
  color: var(--main-white);
  cursor: pointer;
  font-size: 2rem;
  transition: transform 0.1s ease-out;
}

input[type=submit]:hover {
  transform: scale(1.02);
}

/* jump to content  */
.jump{
  position: absolute;
  display: block;
  height: 10px;
  margin: 5px;
  left: -500px;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: var(--main-white);
}

.jump:focus{
  left:0px;
  top: 2.3em;
}

/* aside */

aside {
  background-image: url("../images/aside.png");
  background-size: contain;
  background-position: center center;
  background-repeat: repeat-y;
  width: 10vw;
  margin: 2rem;
  margin-top: 6rem;
  display: none;
}

/* tablet view */
@media screen and (min-width: 768px) {
  nav {
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
    height: 2rem;
  }

  #index-nav {
    grid-column: 2 / 3;
  }

  h1 {
    margin-top: 1em;
  }

  .flex-container {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  img.gallery-photo {
    width: 25vw;
  }
  p {
    width: 80%;
  }

  body{
    grid-template-columns: 1fr 4fr;
    column-gap: 3rem;
    justify-items: center;
  }

  main{
    grid-area: 1 / 2 / 2 / 3;
  }

  aside#left-aside{
    display: block;
    grid-area: 1 / 1 / 2 / 2;
  }
}

/* desktop view */
@media screen and (min-width: 1200px) {
  nav {
    grid-template-columns: 12fr 1fr 1fr 1fr 1fr;
    height: 2rem;
  }

  img.gallery-photo {
    width: 15vw;
  }
  p {
    width: 80%;
  }
  body{
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 3rem;
  }

  main{
    grid-area: 1 / 2 / 2 / 3;
  }

  aside#left-aside{
    display: block;
    grid-area: 1 / 1 / 2 / 2;
  }
  aside#right-aside{
    display: block;
    grid-area: 1 / 3 / 2 / 4;
  }
}


/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--main-green);
  margin: 15rem auto; /* 15% from the top and centered */
  padding: 1.25rem;
  border: 1px solid var(--main-white);
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: var(--main-white);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--main-blue);;
  text-decoration: none;
  cursor: pointer;
}